.badge-container {
  position: relative;
  display: inline-block;
}

.badge-count {
  position: absolute;
  top: -0.625rem;
  right: -0rem;
  color: white;
  border-radius: 50%;
  padding: 0.3125rem 0.625rem;
  font-size: 0.75rem;
  font-weight: bold;
}
