/* SignUpForm.css */
.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.signup-image {
  width: 50%;
}

.signup-image img {
  max-width: 100%;
  height: auto;
}

.signup-form {
  width: 50%;
  padding: 30px;
  border-radius: 8px;
}

.logo {
  display: block;
  margin: 0 auto 20px auto;
}

.signup-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.signup-form p {
  margin-bottom: 20px;
  text-align: center;
}

.signup-form a {
  color: rgba(91, 170, 96, 1);
  text-decoration: none;
}

.signup-form form {
  display: flex;
  flex-direction: column;
}

.password-criteria {
  margin-bottom: 15px;
}

.criteria-message {
  margin: 5px 0;
  font-size: 12px;
  color: red;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
  height: auto;
}

.criteria-message.valid {
  color: green;
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    height: auto;
  }
  to {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
}

.create-account-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.create-account-button:hover {
  background-color: #45a049;
}

/* Media queries for responsiveness on mobile and tablet */
@media (max-width: 1024px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url("../../../../assets/signup_buyer.png");
    background-size: cover;
    background-position: center;
    height: 100%;
  }

  .signup-container {
    padding: 2.5rem;
  }

  .signup-image {
    display: none;
  }

  .signup-form {
    width: 100%;
    max-width: 400px;
    padding: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--card-bg-color);
    opacity: var(--card-opacity);
    color: white; /* Text color inside the card */
  }

  /* Define CSS variables for background color and opacity */
  :root {
    --card-bg-color: black;
    --card-opacity: 0.8; /* Change opacity value as needed */
  }

  /* Detect device theme and update CSS variable accordingly */
  @media (prefers-color-scheme: dark) {
    :root {
      --card-bg-color: black;
      --card-opacity: 0.8;
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      --card-bg-color: white; /* Change to light color */
      --card-opacity: 0.9; /* Adjust opacity for light theme */
    }

    .signup-form {
      color: black; /* Text color inside the card on light theme */
    }
  }
}
