.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  height: 6rem;
}
.back-home {
  display: flex;
  flex-direction: row;
}

.back-home p {
  margin-left: 0.625rem;
}

.right-section {
  display: flex;
  align-items: center;
}

.notification-icon {
  font-size: 1.25rem;
  margin-right: 1.25rem;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-name {
  margin-left: 0.625rem;
  font-size: 1rem;
  font-weight: 500;
}
